body
{
    background-image: url("../images/fotolia-frankpeters-energy-union.jpg");
    background-size: cover;
    /*background-color: #cc0624;*/
}

.my_head
{
    text-align: center;
    font-weight: bold;
}

.my_btn
{
    background-color: #2bc313;
    border-color: #3dc312;
}

.my_btn:hover
{
    background-color: #1e851b;
    cursor: pointer;
}